*.DS_Store
~$*.xls*
feature/
feature_someone/
feature_unused/
feature_prev/
feature_prev_unused/
feature_bureau/
feature_bureau_unused/


input/
output/
data/
external/
py/.ipynb_checkpoints
py/*.model
py/*.p
py/__pycache__/*
py/~$*.xls*

jn/.ipynb_checkpoints
py_prev/__pycache__/*

py_bureau/__pycache__/*


